env: &env "production"
pprof: false
http:
  bindAddress: ":8080"
  mode: release #(debug,release,test)
  prefix: /polygon
grpc:
  host: 0.0.0.0
  port: 10443
common:
  chainId: &chainId 137
  chainName: &chainName polygon
  rpc: "https://polygon.llamarpc.com"
  rpcTimeout: 100ms
  multicallAddress: "0xcA11bde05977b3631167028862bE2a173976CA11"
  executorAddress: &executorAddress "0x0F4A1D7FdF4890bE35e71f3E0Bbc4a0EC377eca3"
  routerAddress: &routerAddress "0x6131B5fae19EA4f9D964eAc0408E4408b66337b5"
  whitelistedTokenSet: &whitelistedTokenSet
    0x9f28e2455f9ffcfac9ebd6084853417362bc5dbb: true # rMATIC
    0x7a7b94f18ef6ad056cda648588181cda84800f94: true # FIS
    0x5736df66b4f8401d639ffa915a46b4c548c09ac1: true # rETH
    0xc3c7d422809852031b44ab29eec9f1eff2a58756: true # LDO
    0xd6df932a45c0f255f85145f286ea0b292b21c90b: true # AAVE
    0xe0b52e49357fd4daf2c15e02058dce6bc0057db4: true # agEUR
    0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270: true # WMATIC
    0xc2132d05d31c914a87c6611c10748aeb04b58e8f: true # USDT
    0x8f3cf7ad23cd3cadbd9735aff958023239c6a063: true # DAI
    0x2791bca1f2de4661ed88a30c99a7a9449aa84174: true # USDC
    0x7ceb23fd6bc0add59e62ac25578270cff1b9f619: true # WETH
    0x1bfd67037b42cf73acf2047067bd4f2c47d9bfd6: true # WBTC
    0xb5c064f955d8e7f38fe0460c556a72987494ee17: true # QUICK
    0x1c954e8fe737f99f68fa1ccda3e51ebdb291948c: true # KNC
    0x3a58a54c066fdc0f2d55fc9c89f0415c92ebf3c4: true # stMATIC
    0xa3fa99a148fa48d14ed51d610c367c61876997f1: true # MIMATIC
    0x8497842420cfdbc97896c2353d75d89fc8d5be5d: true # VERSA
    0x22a31bd4cb694433b6de19e0acc2899e553e9481: true # MMF
    0x53e0bca35ec356bd5dddfebbd1fc0fd03fabad39: true # LINK
    0x03b54a6e9a984069379fae1a4fc4dbae93b3bccd: true # wstETH
  blacklistedPoolSet: &blacklistedPoolSet
    0x7cc19f8c258d7f489bc1074437e25a46e397688f: true
    0xa71415675f68f29259ddd63215e5518d2735bf0a: true
    0x7db214f2d46d94846936a0f8bd9044c5c5bd2b93: true
  availableSources: &availableSources
    - "pearl"
    - "pearl-v2"
    - "polydex"
    - "oneswap"
    - "iron-stable"
    - "curve"
    - "synapse"
    - "dystopia"
    - "madmex"
    - "metavault"
    - "fraxswap"
    - "retro"
    - "iziswap"
    - "mantisswap"
    - "smardex"
    - "kyberswap"
    - "kyberswap-static"
    - "sushiswap"
    - "quickswap"
    - "jetswap"
    - "wault"
    - "polycat"
    - "dfyn"
    - "gravity"
    - "cometh"
    - "apeswap"
    - "dinoswap"
    - "mmf"
    - "crowdswap-v2"
    - "wombat"
    - "balancer-v2-weighted"
    - "balancer-v2-stable"
    - "balancer-v2-composable-stable"
    - "gyroscope-2clp"
    - "gyroscope-3clp"
    - "gyroscope-eclp"
    - "curve-stable-plain"
    - "uniswap"
    - "curve-stable-ng"
    - "kyberswap-limit-order-v2"
    - "curve-tricrypto-ng"
    - "curve-stable-meta-ng"
    - "uniswapv3"
    - "sushiswap-v3"
    - "retro-v3"
    - "quickswap-v3"
    - "swaap-v2"
    - "woofi-v2"
    - "dodo-classical"
    - "dodo-dpp"
    - "dodo-dsp"
    - "dodo-dvm"
    - "hashflow-v3"
    - "native-v1"
    - "woofi-v3"
    - "clipper"
    - "lo1inch"
    - "uniswap-v4"
    - "overnight-usdp"
  excludedSourcesByClient: &excludedSourcesByClient
  featureFlags:
  maxThresholdAmountInUSD: &maxThresholdAmountInUSD 100000000
  getBestPoolsOptions: &getBestPoolsOptions
    directPoolsCount: 100
    whitelistPoolsCount: 500
    tokenInPoolsCount: 200
    tokenOutPoolCount: 200
    amplifiedTvlDirectPoolsCount: 50
    amplifiedTvlWhitelistPoolsCount: 200
    amplifiedTvlTokenInPoolsCount: 100
    amplifiedTvlTokenOutPoolCount: 100
    amountInThreshold: 10000
  useAEVM: &useAEVM false
  alphaFeeConfig: &alphaFeeConfig
    reductionConfig:
      reductionFactorInBps:
        kyber-pmm: 5000
        uniswap-v4-kem: 5000
      maxThresholdPercentageInBps: 8000
      minDifferentThresholdUSD: 0.005
      minDifferentThresholdBps: 20
      defaultAlphaFeePercentageBps: 100
    ttl: 600s
  aggregatorTransactionTopic: &aggregatorTransactionTopic "routeSummary"
  liquidityScoreInputFileName: &liquidityScoreInputFileName "./scores.csv"
  liquidityTradesDataFileName: &liquidityTradesDataFileName "./trade_data.txt"
log:
  sentryDSN: "https://6cd398671bde455f8fadad6dbfe87a67@sentry-v2.knstats.com/48"
  consoleLevel: info
  enableConsole: true
  enableJSONFormat: true
redis:
  addresses:
  masterName: ""
  dbNumber: 0
  password: ""
  prefix: *chainName
  readTimeout: 3s
  writeTimeout: 3s
  readOnly: false
  routeRandomly: false
pregenRedis:
  addresses:
  masterName: ""
  dbNumber: 0
  password: ""
  prefix: *chainName
  readTimeout: 3s
  writeTimeout: 3s
  readOnly: false
  routeRandomly: false
poolRedis:
  addresses:
  masterName: ""
  dbNumber: 0
  password: ""
  prefix: *chainName
  readTimeout: 3s
  writeTimeout: 3s
  readOnly: false
  routeRandomly: false
poolEventRedis:
  addresses:
  masterName: ""
  dbNumber: 0
  password: ""
  prefix: *chainName
  readTimeout: 3s
  writeTimeout: 3s
  readOnly: false
  routeRandomly: false
kafka:
  enable: false
  addresses: "localhost:9092"
  useAuthentication: false
  username:
  password:
  prefix: *chainName
  separator: "."
keyPair:
  storageFilePath: ""
  keyIDForSealingData:
    clientData: "1"
reloadConfig:
  httpUrl: "https://ks-setting-admin.kyberengineering.io/api/v1/admin/configurations"
  interval: 10s
  serviceName: "aggregator"
  chainID: *chainId
metrics:
  host:
  port: 8125
  namespace: "kybernetwork."
encoder:
  chainId: *chainId
  routerAddress: *routerAddress
  executorAddress: *executorAddress
  executorV2Address: 0x36C3253C0F1f76F0831a2B187CEA2679F95BC7BE
  opPrivateKey:
  isPositiveSlippageEnabled: true
  minimumPSThreshold: 1000000
  executorAddressByClientID:
  partnerPositiveSlippageInfo:
    tritium-research:
      feeSharingAddress: 0x4f82e73edb06d29ff62c91ec8f5ff06571bdeb29
      randomReturnAmountInflation: 0.00006
    llamaswap:
      receiver:
      percent:
      feeMode:
      feeSharingAddress:
    kyberswap:
      feeSharingAddress: 0x4f82e73edb06d29ff62c91ec8f5ff06571bdeb29
      feeReferralAddress: 0xb826162fbeb7c631d1bfb5fbff8b77442432b826
    kyberswap-earn:
      feeSharingAddress: 0x4f82e73edb06d29ff62c91ec8f5ff06571bdeb29
      feeReferralAddress: 0xb826162fbeb7c631d1bfb5fbff8b77442432b826
    debot-kyber-8@dK#:
      receiver: 0x0000000000000000000000000000000000000002
      feeSharingAddress: 0x4f82e73edb06d29ff62c91ec8f5ff06571bdeb29
    bitgetswap:
      receiver: 0x0000000000000000000000000000000000000003
      feeSharingAddress: 0x4f82e73edb06d29ff62c91ec8f5ff06571bdeb29
      feeReferralAddress:
    app_safe_global:
      receiver:
      feeSharingAddress: 0x55602F3057be52BFB6F98fFE799CFDec58Af5130
useCase:
  getRoute:
    chainId: *chainId
    routerAddress: *routerAddress
    availableSources: *availableSources
    excludedSourcesByClient: *excludedSourcesByClient
    defaultPoolsIndex: nativeTvl
    salt: &salt
    aggregator:
      whitelistedTokenSet: *whitelistedTokenSet
      getBestPoolsOptions: *getBestPoolsOptions
      finderOptions: &finderOptions
        maxHops: 3
        distributionPercent: 5
        maxPathsInRoute: 20
        maxPathsInFallbackRoute: 5
        maxPathsToGenerate: 5
        maxPathsToReturn: 200
        minPartUSD: 500
        minThresholdAmountInUSD: 0
        maxThresholdAmountInUSD: *maxThresholdAmountInUSD
        isHillClimbEnabled: false
        hillClimbDistributionPercent: 1
        hillClimbIteration: 2
        hillClimbMinPartUSD: 500
        isPathGeneratorEnabled: false
        useAEVMRemoteFinder: false
        remoteUseAEVMPool: false
        localUseAEVMPool: false
    cache:
      defaultTtl: 15s
      ttlByAmount:
        - amount: 1
          ttl: 30s
        - amount: 2
          ttl: 10s
        - amount: 5
          ttl: 10s
        - amount: 10
          ttl: 10s
        - amount: 11
          ttl: 30s
        - amount: 15
          ttl: 10s
        - amount: 20
          ttl: 10s
        - amount: 22
          ttl: 30s
        - amount: 25
          ttl: 10s
        - amount: 30
          ttl: 10s
        - amount: 33
          ttl: 30s
        - amount: 35
          ttl: 10s
        - amount: 40
          ttl: 10s
        - amount: 44
          ttl: 30s
        - amount: 45
          ttl: 10s
        - amount: 50
          ttl: 10s
        - amount: 55
          ttl: 30s
        - amount: 60
          ttl: 10s
        - amount: 66
          ttl: 30s
        - amount: 70
          ttl: 10s
        - amount: 77
          ttl: 30s
        - amount: 80
          ttl: 10s
        - amount: 88
          ttl: 30s
        - amount: 90
          ttl: 10s
        - amount: 99
          ttl: 30s
        - amount: 100
          ttl: 10s
        - amount: 500
          ttl: 10s
        - amount: 1000
          ttl: 10s
        - amount: 10000
          ttl: 10s
        - amount: 100000
          ttl: 10s
      ttlByAmountUsdRange:
        - amountUSDLowerBound: 0
          ttl: 10s
        - amountUSDLowerBound: 101
          ttl: 10s
        - amountUSDLowerBound: 500
          ttl: 10s
        - amountUSDLowerBound: 1001
          ttl: 10s
        - amountUSDLowerBound: 2000
          ttl: 10s
        - amountUSDLowerBound: 5000
          ttl: 10s
        - amountUSDLowerBound: 10000
          ttl: 10s
      ttlByAmountRange:
        - amountLowerBound: "0"
          ttl: 10s
      priceImpactThreshold: 0.005
      shrinkFuncName: "round"
      shrinkDecimalBase: 10
      shrinkFuncPowExp: 0.7
      shrinkFuncLogPercent: 1.01
      enableNewCacheKeyGenerator: false
      shrinkAmountInConfigs:
        - shrinkFuncName: "logarithm"
          shrinkFuncConstant: 1.1
        - shrinkFuncName: "logarithm"
          shrinkFuncConstant: 1.3
        - shrinkFuncName: "logarithm"
          shrinkFuncConstant: 1.5
      shrinkAmountInThreshold: 100000
      minAmountInUSD: 0.9
    safetyQuoteConfig:
      excludeOneSwapEnable: true
      factor:
        Default: 0
        Converter: 0
        StrictlyStable: 0
        Stable: 0.5
        Correlated: 1.5
        LowSlippage: 3
        NormalSlippage: 10
        HighSlippage: 50
      whitelistedClient:
    alphaFeeConfig: *alphaFeeConfig
  getCustomRoute:
    aggregator:
      finderOptions:
        maxHops: 5
  buildRoute:
    chainId: *chainId
    forceSourceByIp:
      '47_130_37_231': tritium-research
      '52_74_71_138': tritium-research
    validateChecksumBySource:
      'tritium-research': true
    salt: *salt
    rfq:
      kyberswap-limit-order-v2:
        handler: limit-order
        properties:
          chainID: *chainId
          limitOrderHTTPUrl: http://limit-order.core-cluster.gke.production.internal
      swaap-v2:
        handler: swaap-v2
        properties:
          http:
            api_key:
            base_url: "https://api.swaap.finance"
            timeout: 10s
            retry_count: 3
      hashflow-v3:
        handler: hashflow-v3
        properties:
          http:
            api_key:
            base_url: "https://api.hashflow.com"
            source: kyber
            timeout: 3s
            retry_count: 3
      native-v1:
        handler: native-v1
        properties:
          http:
            api_key:
            base_url: "https://newapi.native.org"
            timeout: 10s
            retry_count: 3
      clipper:
        handler: clipper
        properties:
          http:
            basic_auth_key:
            base_url: "https://api.clipper.exchange"
            timeout: 10s
            retry_count: 3
      uniswap-v4-kem:
        handler: uniswap-v4
        properties:
          kyberExclusiveAMM:
            maxAmountInFactor: 1.2
            expiry: 180000000000 # 3m
            signerPrivateKey:
    faultyPools:
      minSlippageThreshold: 1000
      whitelistedTokenSet: *whitelistedTokenSet
    rfqAcceptableSlippageFraction: 1000
    faultyPoolDetectorDisabled: false
    publisher:
      aggregatorTransactionTopic: *aggregatorTransactionTopic
    alphaFeeConfig: *alphaFeeConfig
    clientRefCode:
      bitgetswap: bitget

  poolFactory:
    chainId: *chainId
  poolManager:
    availableSources: *availableSources
    blacklistedPoolSet: *blacklistedPoolSet
    blackListRenewalInterval: 30s
    faultyPoolsRenewalInterval: 5s
    capacity: 1000000
    poolRenewalInterval: 3s
    faultyPoolsExpireThreshold: 3s
  indexPools:
    whitelistedTokenSet: *whitelistedTokenSet
    chunkSize: 3000
    maxGoroutines: 0
    enableRankByNative: false
    maxDirectIndexLenForZeroTvl: 10
  generateBestPaths:
    getBestPoolsOptions: *getBestPoolsOptions
    spfaFinderOptions: *finderOptions
    whitelistedTokens: *whitelistedTokenSet
    availableSources: *availableSources
    blacklistedPools:
    configGeneratorDataTtl: 12h
    pathGeneratorDataTtl: 2h
    maintainingInterval: 360s
    chainId: *chainId
  trackExecutor:
    subgraphURL: https://api.studio.thegraph.com/query/101985/kyberswap-aggregator-polygon/version/latest
  tradeDataGenerator:
    whitelistedTokenSet: *whitelistedTokenSet
    blacklistedPoolSet: *blacklistedPoolSet
    chunkSize: 200
    useAEVM: *useAEVM
    dexUseAEVM:
    minDataPointNumber: 6
    maxDataPointNumber: 12
    availableSources: *availableSources
  updateLiquidityScore:
    meanType: "geometric"
    getBestPoolsOptions: *getBestPoolsOptions
job:
  indexPools:
    forceScanAllEveryNth: 10
    interval: 2s
    poolEvent:
      consumerConfig:
        prefix: *chainName
        stream: "pool_events"
        group: "router_indexPools"
        key: "message"
        block: 300ms
        count: 100
        bufferSize: 20
        ackBufferSize: 10
      batchRate: 700ms
      batchSize: 100
      retryInterval: 5s
  updateSuggestedGasPrice:
    interval: 15s
  trackExecutorBalance:
    interval: 1h
  liquidityScoreIndexPools:
    env: *env
    batchSize: 200
    interval: 1h
    successedFileName: *liquidityTradesDataFileName
    failedFileName: "./failed_trade_data.txt"
    liquidityScoreInputFileName: *liquidityScoreInputFileName
    liquidityScoreCalcScript: "./cmd/liquidityscore/main.py"
    exportFailedTrade: false
    targetFactorEntropy: 0.995
    poolEvent:
      consumerConfig:
        prefix: *chainName
        stream: "pool_events"
        group: "router_liqIndexPools"
        key: "message"
        block: 300ms
        count: 200
        bufferSize: 20
        ackBufferSize: 10
      batchRate: 700ms
      batchSize: 100
      retryInterval: 5s
  generateBestPaths:
    interval: 360s
repository:
  gas:
    redis:
      prefix: *chainName
    ristretto:
      numCounters: 5000
      maxCost: 500
      bufferItems: 64
      suggestedGasPrice:
        cost: 1
        ttl: 2m
  pool:
    redis:
      prefix: *chainName
      maxFaultyPoolSize: 500
    ristretto:
      numCounters: 40000
      maxCost: 4000
      bufferItems: 64
      faultyPools:
        cost: 1
        ttl: 5s
      faultyIndexPools:
        cost: 1
        ttl: 30m
  onchainprice:
    grpc:
      base_url: onchain-price.core-cluster.gke.production.internal:80
      timeout: 300ms
      insecure: true
      client_id: router-service
    ristretto:
      numCounters: 20000
      maxCost: 2000
      bufferItems: 64
      price:
        cost: 1
        ttl: 1m
  poolService:
    baseUrl: "0.0.0.0:10443"
    insecure: true
    timeout: 100ms
    chainId: *chainId
  token:
    redis:
      prefix: *chainName
    ristretto:
      chainId: *chainId
      token:
        numCounters: 10000
        maxCost: 1000
        bufferItems: 64
        cost: 1
      decimal:
        numCounters: 10000
        maxCost: 1000
        bufferItems: 64
        cost: 1
    http:
      timeout: 5s
      baseUrl: "http://token-catalog-api.core-cluster.gke.production.internal:80"
  poolRank:
    redis:
      prefix: *chainName
  route:
    redis:
      prefix: *chainName
    ristretto:
      numCounters: 10000
      maxCost: 1000
      bufferItems: 64
      prefix: *chainName
      route:
        cost: 1
        ttl: 10s
  blackjack:
    grpcClient:
      baseURL: blackjack.core-cluster.gke.production.internal:80
      insecure: true
      timeout: 100ms
  erc20balanceslot:
    redis:
      prefix: *chainName
  alphaFee:
    redis:
      prefix: *chainName
      separator: ":"
      ttl: 600s
validator:
  slippageValidatorConfig:
    slippageToleranceGte: 0
    slippageToleranceLte: 5000
  buildRouteParams:
    blacklistedRecipientSet:
  getRouteEncodeParams:
    blacklistedRecipientSet:
bundledRouteEnabled: false
