name: Check tinylib/msgp generate codes update-to-date

concurrency:
  group: ci-workflow-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release-v**
  pull_request:

jobs:
  generate-check:
    name: Check generated codes update-to-date
    runs-on: [ubuntu-22.04]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Run "go generate ./..."
        run: go generate ./... || true
      - name: Check working tree clean
        run: if [ -z "$(git status --porcelain)" ]; then exit 0; else exit 1; fi